<%- include('header-template', { title: locals.title, activeHeader: locals.activeHeader, headLink: locals.headLink }) %>

<% if (locals.page != 'main'){ %>
    <div class="path-block">
        <a href="/">Главная&nbsp</a>
        <span>- Контакты</span><br><br>
        <h1>Контакты</h1>
    </div>
<% } %>

<%
switch(locals.page) { 

    case 'main': %>
    <%- include('pages/main') %>
    <% break;

    case 'catalog': %>
    <%- include('pages/catalog') %> 
    <% break;

    case 'about': %>
    <%- include('pages/about') %> 
    <% break;

    case 'contacts': %>
    <%- include('pages/contacts') %> 
    <% break;



    default: %>
    <%- include('pages/error') %>
    <% break;
} %>

<%- include('footer-template') %>